<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscars Info.</title>
    <link rel="stylesheet" href="/templates/index.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="display: flex;">
    <div class="flex flex-row min-h-screen justify-center items-center bg-white rounded shadow p-6 mx-auto">
        <form  class="bg-white rounded-10 --tw-border-opacity: 1 ; border-2 w-9/12 h-full max-w-md border-color: rgba(223, 202, 78, var(--tw-border-opacity)) border-radius: 1rem" action ="/" method="post">
        <label class="mx-5" for="user-input">Enter something:</label>
        <input type="text" id="user-input" name="prompt" placeholder="Search Oscars Info...">
        <select class="form-select" id="year" name="year">
            <option value="">Year</option>
            {% for n in range(1932, 2023) %}
            <option value={{n}}>{{n}}</option>
            {% endfor %}
            </select>
            <br><br>
        <button type="submit" class="btn-primary">Submit </button>
        <br>
        <p>Year of Ceremony: {{yearG}}</p>
        <br><br>
        {% if prompt %}
        <p id="output">Result: {{prompt}}</p>
        {% else %}
        <p id="output">Prompt: Enter Prompt.</p>
        {% endif %}
        </form>
    </div>
</body>
</html>